body{
    margin: 0;
    background-color: rgba(180, 144, 97, 0.648);
    text-align: justify;
}

.awal{
    margin-top: 60px;
    height:190px;
    width: 100%;
}

.awal img{
    height: auto;
    width: 150px;
    border-radius: 10%;
}

.main{
    width: 900px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.awal-text{
    width: 550px;
    padding: 15px;
}

.awal-text>p>a{
    text-decoration: none;
    margin: 0;
}

.container{
    position: fixed;
    width: 100%;
    height: 20px ;

}

.wrap {
    width: 100%;
    height: 20px ;
    background-color: rgb(186, 157, 119);
    display: flex;
    font-size: 15px;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

#cv-p{
    font-size: 20px;
    color:#581C0C ;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10%;
    width: 400px;
}

.sub-judul, #cv-p, .awal-text>h2{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;    
}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3%;
}

.nav-ul>li{
    list-style: none;
    padding: 10px;
}

.nav-ul>li>a{
    text-decoration: none;
    color: black;
}

.nav-ul>li>a:hover{
    color: #581C0C;
    font-weight: bold;
    font-size: 12px;
    transition: all .5s ease-in-out;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.tengah{
    background-color: bisque;
    text-align: justify;
}

.tengah h4{
    text-align: center;
}

#summary{
    padding: 10px 5% 0px 5%;
}

#keahlian, #pengalaman, #pendidikan, #kursus{
    padding-bottom: 10px;
    width: 40%;
}

#keahlian ul{
    padding: 0 30%;
}

.tengah-2{
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    
}

footer{
    text-align: center;
}