@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
body {
    background-image:url(https://img.freepik.com/free-vector/gradient-geometric-shapes-dark-background_23-2148425674.jpg?w=740&t=st=1694527423~exp=1694528023~hmac=a1f82aba08412c6b0934601ff5408253525e4d4614fc38adec15dba63bacd116);
}
.container {
    background: #FAFDE7;
    max-width: 800px;
    margin: 60px auto;
    height: 1300px;
    padding: 20px;
    border-radius: 10px;
}
.nama {
    text-align: center;
}
.nama h1 {
    margin-bottom: 10px;
}
.nama h3 {
    font-size: 15px;
    font-weight: 500;
}
.img img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin: 25px auto;
    border: 8px groove #ACAD9E;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.data-cv{
    flex: 1;
    padding: 10px;
}
.data-cv p {
    line-height: 2;
}
.data-cv ul li {
    line-height: 2;
}
h2{
    background: #B3FAA1;
    padding: 15px;
    font-size: 20px;
    margin: 15px 0;
    border-radius: 8px;
}
@media screen and (max-width:600px) {
    main {
        flex-direction: column;
    }
    .data-cv {
        flex: none;
        width: 100%;
    }
    .container {
        width: 95%;
        height: auto;
    }
    h2 {
        font-size: 15px;
    }   
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 95%;
        height: auto;
    }
    h2 {
        font-size: 18px;
    }  
}